<h1>EDIT</h1>
<div class="container">
  <%= simple_form_for(@pokemon) do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :element %>
  <%= f.input :life %>
  <%= f.input :attack %>
  <%= f.input :photo, as: :file%>
  <%= f.button :submit, class: 'btn btn-primary'  %>
  <% end %>

  <%= link_to 'Show', @pokemon, class: 'btn btn-primary' %> |
  <%= link_to 'Back', pokemons_path, class: 'btn btn-primary' %>
</div>